.card-pokedex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('fundo-campo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 